<section id="main-header">
<div class="header-container">
  

  <div class="head-title pull-left">
    <h1 id="head" class="pull-left">TOP NEWS</h1>
  </div>
  
  <div class="subscribe pull-right">
    <span>Subscribe To Newsletter</span>
      <form action="" method="get" autocomplete="off" class="k2SearchBlockForm">
        <input type="text" value="Email" name="newsletter" maxlength="60" size="40" alt="Newsletter" class="inputbox"
        onblur="if(this.value=='') this.value='Newsletter';" onfucus="if(this.value=='Newsletter') this.value='';">
        <input type="hidden" name="categories" value>
      </form>
  </div>

  <div id="nav-container" class="clearfix">
    <ul id="nav" >
      <li><a href="home" class="nav-line">HOME</a></li>
      <li><a href="<%= world_path %>" class="nav-line">WORLD</a></li>
      <li><a href="<%= us_path %>" class="nav-line">U.S.</a></li>
      <li><a href="<%= business_path %>" class="nav-line">BUSINESS</a></li>
      <li><a href="<%= stocks_path %>" class="nav-line">STOCKS</a></li>
      <li><a href="<%= politics_path %>" class="nav-line">POLITICS</a></li>
      <li><a href="<%= crime_path %>" class="nav-line">CRIME</a></li>
      <li><a href="<%= technology_path %>" class="nav-line">TECHNOLOGY</a></li>
      <li><a href="<%= health_path %>" class="nav-line">HEALTH</a></li>
      <li><a href="<%= entertainment_path %>" class="nav-line">ENTERTAINMENT</a></li>
      <li><a href="<%= contact_path %>">CONTACT</a></li>
    </ul>
  </div>

</div>
</section>