<!DOCTYPE html>
<html>
<head>
  <title>Rssfeedapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-container">
    

      <%= render "shared/header" %>
  
    
      <div class="yield-container">
      <%= yield %>
      </div>
 
  
      <%= render "shared/footer" %>

    
    
  </div>
  
</body>
</html>
